.FormContainer {


}

.FormContainerTitle {
    width: 100%;
    padding: 10px;
    background-color: #34495e;
    color: #FFF;
    box-sizing: border-box;

    font-size: 20px;
}

.FormContainerBody {
    box-sizing: border-box;
    border: 1px solid;
    background-color: #FFF;
    height: auto;
}