extends layout

block content
  .container
    .row
      .col-md-12
        .section-title
          h3.text-center= message
        .space
          h4= error.status
          if(debug)
            pre #{error.stack}
          else
            pre
              | Oh no, we have a problem!
              br
              if(error.status == 404)
                | The page you were looking for was not found :/
              else
                | There was an internal error :O We will try to fix it!
