extends layout

block content
    .container
        .row
            .col-md-6.col-md-offset-3
                .section-title
                    h3.text-center Log in with
                .space
                a.btn.btn-primary.btn-lg.btn-block.btn-warning(href='/auth/facebook')
                 i.fa.fa-facebook(aria-hidden='true')
                 |  Facebook
            //    a.btn.btn-primary.btn-lg.btn-block.btn-warning(href='/auth/google')
            //      i.fa.fa-google(aria-hidden='true')
            //      |  Google
            // a.btn.btn-primary.btn-lg.btn-block.btn-warning(href='/auth/twitter')
            //  i.fa.fa-twitter(aria-hidden='true')
            //  |  Twitter