.PagedTable {
    box-sizing: border-box;
    margin-bottom: 0px;
    width: 100% !important;
    
}

.PagedTable table {
    
}


.PagedTable tr {
    padding: 5px;
}

.Title {
    font-size: 30px;
}

.PagedTable thead {
    background: #34495e;
    color: #FFF;
    box-sizing: border-box;
}

.PagedTable thead th {
    padding: 10px 10px;
    box-sizing: border-box;
    border-top: 0px;
}

.PagedTable tbody td {
    border: 0;
    box-sizing: border-box;
    
}
.PageButton {
    padding: 4px 10px;
    box-sizing: border-box;
    margin-right: 2px;
    text-align: center;
    border: 1px solid rgb(124, 124, 124);
}

.activePage {
    background: #34495e;
    color: white;
    border: 1px solid #000;
}

@media (max-width: 960px) {
    .PagedTable thead {
        display: none;
    }
    
}